<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{$smarty.const.CSS_URL}common.css" rel="stylesheet">
    <link href="{$smarty.const.CSS_URL}login.css" rel="stylesheet">
    <link href="{$smarty.const.CSS_URL}myindex.css" rel="stylesheet">
</head>
<body>
<!--左侧导航-->
<div class="nav">
    <img src="{$smarty.const.PUBLIC_URL}images/logo.png" alt=""/>
    <ul class="nav_ul">
        <li >
            <a class="myindex_icon" href="{$smarty.const.__MODULE__}">我的概况</a>
        </li>
        <li>
            <a class="member_icon" href="{$smarty.const.__MODULE__}/Agent/getApplayAgentInfos">申请审核</a>
        </li>
        <li>
            <a class="earnings_icon" href="{$smarty.const.__MODULE__}/Income/incomeSet">收益配置</a>
        <li>
            <a class="mycenter_icon" href="{$smarty.const.__MODULE__}/cash/showWithdraw/?pass=0">提现审核</a>
        </li>
        <li class="checked">
            <a class="money_icon" href="{$smarty.const.__MODULE__}/Agent/getFormalAgentList">代理商管理</a>
        </li>
        <li >
            <a class="money_icon" href="{$smarty.const.__MODULE__}/Sheet/getDatas">财务报表</a>
        </li>
    </ul>
</div>
<!--右侧内容-->
<div class="main">
    <div class="main_top">
        <p>欢迎登录郡安云CDN代理商管理系统</p>
        <div class="mtop_right">
            <a href="" class="userinfo">
                <img src="{$smarty.const.PUBLIC_URL}images/tx.jpg" alt=""/>
                <span>{$adminname}</span>
            </a>
            <a class="mtop_link kf" href="javascript:void(0)">客服</a>
            <!--<a class="mtop_link" href="">消息</a>-->
            <a class="mtop_link" href="{$smarty.const.__MODULE__}/index/logout">登出</a>
        </div>
    </div>
    <!--我的概况-->
    <div class="myindex">
        <div class="tables">
            <table class="admin_table">
                <tr class="admin_title">
				   <th>用户名</th>
				   <th>总收入</th>
				   <th>已结帐</th>
				   <th>可结算</th>
				   <th>密码</th>
				   <th>支付密码</th>
				   <th>冻结/解冻</th>
				   <th>推广码</th>
				   <th>成为代理时间</th>
				   <th>下级用户数据</th>
                </tr>
				  {foreach $infos as $info}
				<tr>
				   <td>{$info.username}</td>
				   <td>{$info.totalmoney}</td>   
				   <td>{$info.billed}</td>
				   <td>{$info.balance}</td>   
				   <td>{$info.password}</td>
					<td>{$info.paypassword}</td>
				   <td>冻结/解冻</td>
				   <td>{$info.promocode}</td>
				   <td>{$info.createtime|date_format:"%Y-%m-%d %H:%M"}</td>
				   <td><a href='{$smarty.const.__CONTROLLER__}/getFormalAgentUser/?promocode={$info.promocode}'>详情</a></td>
				</tr>
				  
				  {/foreach}
            </table>
        </div>

        <div class="page">

        </div>

    </div>
</div>
</body>
<script src="{$smarty.const.JS_URL}jquery-1.11.3.min.js"></script>
<script src="{$smarty.const.PUBLIC_URL}layer/layer.js"></script>
<script src="{$smarty.const.JS_URL}common.js"></script>
</html>